*.lo[gft]
*.mtc*
*.aux
*.toc
*.out
.*.sw[op]
.ninja_log
.ninja_deps
slides.pdf
lua-eol-report.pdf
*.ac[rn]
_minted-lua-eol-report/
_minted-slides/
*.nav
*.snm
*.vrb
*.maf
*.ist
*.auxlock
*.glsdefs
*.alg
*.md5
*.xdy
*.gl[gos]
*.lol
*.tdo
